/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #060D0D;
  height: 100px;
  width: 100%;
  position:fixed;
  z-index: 1;
}

.logo{
    width: 13vh;
    height: 13vh;
    position: absolute;
    top: -2.3vh;
    left: -1vh;
}

.rez-btn {
    background-color: #b5985e; /* boja pozadine dugmeta */
    color: #fff; /* boja teksta */
    padding: 10px 20px; /* unutrašnji razmak */
    border-radius: 1px; /* zaobljenje ivica */
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease; /* animacija prelaza boje */
}

.rez-btn:hover {
    background-color: #333; /* boja pozadine na prelasku */
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #b5985e;
  transition: .5s;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.footer{
    background:#060D0D;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
  
    .ftrlink.active,
    .ftrlink:hover {
      background: #060D0D;
      transition: .5s;
      color: #b5985e;
    }
  a.active,
  a:hover {
    background: #060D0D;
    transition: .5s;
  }

.about-us {
    text-align: center;
    padding: 40px 20px;
    padding-top: 20vh;
}

.about-us h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
  .services-divider {
    width: 100px;
    height: 3px;
    background-color: #f4b400;
    margin: 20px auto;
  }

.aboutusp{
    color: #060D0D;
}

.content-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 44vw;
    height: 800px;
    text-align: left;
    margin: 20px;
    background-image: url('pocetnasl.jpg');
}
#aboutus1{
    background-image: url('aboutus1.jpg');
}
#aboutus2{
    background-image: url('aboutus2velika.jpg');
}
#aboutus3{
    background-image: url('aboutus3velika.jpg');
}
#aboutus4{
    background-image: url('aboutus4.jpg');
}
.content-block img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content-block h2 {
    font-size: 2.5em;
    padding: 15px;
    color: white;
}

.content-block p {
    padding: 0 15px 0px;
    font-size: 1.3em;
    color: white;
    margin-bottom: 30px;
}

.content-block button {
    margin: 15px;
    margin-top: 0;
    padding: 10px 0px;
    background-color: #b5985e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 180px;
    height: auto;
}

.content-block button:hover {
    background-color: #444;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-section, .image-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text-section {
    padding: 40px;
}

.text-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #b5985e;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #444;
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

  @media (max-width: 1500px) {

    .logo{
      width: 20vh;
      height: 20vh;
      position: absolute;
      top: -3vh;
      left: -2vh;
  }
    #aboutus2{
        background-image: url('aboutus2.jpg');
    }
    #aboutus3{
        background-image: url('aboutus3.jpg');
    }
  }
  @media (max-width: 1400px) {
    .logo{
        width: 23vh;
        height: 23vh;
        position: absolute;
        top: -3vh;
        left: -2vh;
        }
}

@media (max-width: 1050px) {
    .logo{
        width: 20vh;
        height: 20vh;
        position: absolute;
        top: -3vh;
        left: -2vh;
        }
}
@media (max-width: 900px) {
    nav ul li a {
        font-size: 16px;
        padding: 7px 8px;
     }
    .checkbtn {
        display: block;
      }
    
    .logo{
        width: 22vh;
        height: 22vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #060D0D;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a {
        font-size: 20px;
    }
    
    a:hover,
    a.active {
        background: #b5985e;
        color: white;
    }
    
    #check:checked~ul {
        left: 0;
    }
    .footer{
        text-align:left;
        padding:5%;
      }
      .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
      }
      .footer .row a i{
        margin:0% 3%;
      }
      .ftrul{
        background: #060D0D;
      }
      .row{
        text-align: center;
      }
      .content-block{
        text-align: center;
        justify-content: center;
        width: 600px;
        height: 800px;
      }
      .content-block button{
        display: flex;
        justify-content: center;
        text-align: center;
      }
      .content-container {
        flex-direction: column;
    }
    .text-section, .image-section {
        width: 100%;
    }
    .content-container{
        padding-bottom: 120px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .image-section{
        padding-top: 120px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .text-section{
        padding-top: 0;
    }
    .dugme{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-block h2 {
        font-size: 2em;
    }

  
}

@media (max-width: 700px) {
    .logo{
        width: 17.8vh;
        height: 17.8vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}
@media (max-width:500px) {
  
}
@media (max-width: 376px) {
    .logo{
        width: 21vh;
        height: 21vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}
@media (max-width: 345px) {
    .logo{
        width: 17.8vh;
        height: 17.8vh;
        position: absolute;
        top: -3vh;
        left: -1vh;
        }
}